<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <span>
      <h4>{{destino.nombre}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus vel ducimus provident laboriosam omnis hic sequi doloribus temporibus obcaecati debitis. Distinctio quaerat nostrum architecto repudiandae earum laudantium fugiat impedit facilis?
    <a href="#" class="btn-card">Read</a>
  </div>
</div>
